.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: relative;
    z-index: 100;
    top: 0;
}


.example-tree-invisible {
    display: none;
}

.example-tree {
    ul {
        padding-left: 1em;
    }

    ul, li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
}

.page-container {
    margin-left: 40px;
    margin-top: 15px;
}
