.sidenav-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 200px;

    .mat-toolbar {
        background: inherit;

        .mat-primary {
            position: relative;
            z-index: 100;
            top: 0;
        }
    }
}

mat-sidenav-content {
    height: 100%;
}

.example-tree-invisible {
    display: none;
}

.example-tree {
    ul {
        padding-left: 1em;
    }

    ul, li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
}
