<div id="toolbar">
    <span>DBWatcher</span>
    <!--<div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="pi pi-plus"></button>
        <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>

        <i class="pi pi-bars"></i>

    </div>

    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-search"></button>
        <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
    </div>-->
</div>

<div id="sidenav">
    <p-panelMenu [model]="menuItems" [style]="{'width':'300px'}"></p-panelMenu>
</div>
<div id="content">
    <router-outlet></router-outlet>
</div>
