#toolbar {
    background-color: #20272a;
    box-sizing: border-box;
    display: block;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9997;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    padding: 10px;

    span {
        color: white;
        font-size: large;
    }
}

#sidenav {
    position: fixed;
    left: 0;
    top: 55px;
    height: calc(100% - 55px);
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    z-index: 9995;
}

#content {
    margin-left: 300px;
    padding-top: 55px;
}
