<form #scriptForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="page-header">
        <label for="name"><b>Script </b></label>
        <input id="name" pInputText placeholder="Name" [(ngModel)]="script.name" required name="name">
        <div class="buttons-right">
            <!--<mat-progress-spinner
                id="load-spinner"
                color="primary"
                mode="indeterminate"
                diameter="20">
            </mat-progress-spinner>-->
            <button pButton type="submit" label="Save"></button>
            <button pButton type="button" label="Execute" class="ui-button-success"></button>
            <button pButton type="button" label="Delete" class="ui-button-danger"></button>
        </div>
    </div>
    <div class="page-content">
        <h4>Description </h4>
        <textarea pInputTextarea [(ngModel)]="script.description" placeholder="Description" name="description" class="script-description"></textarea>
        <h4>Script text </h4>
        <ngx-monaco-editor class="sql-editor" [options]="editorOptions" [(ngModel)]="script.body" name="body"></ngx-monaco-editor>
    </div>
</form>
