.description-textarea {
    width: 40%
}

.sql-editor {
    width: 95%;
    height: 700px;
}

.buttons-right {
    margin: 10px;
    display: inline-block;
    float: right;

    button {
        margin-right: 8px;
    }
}
