<div class="page-header ui-g">
    <div class="ui-sm-6 ui-md-4 ui-lg-3">
        <label class="label">Script</label>
        <input pInputText placeholder="Name" [(ngModel)]="script.name" required>
    </div>

    <div class="ui-sm-6 ui-md-4 ui-lg-3">
        <label class="label">Directory</label>
        <p-dropdown [options]="foldersSelect" [(ngModel)]="selectedFolder"></p-dropdown>
    </div>

    <div class="buttons-right ui-sm-12 ui-md-4 ui-lg-6">
        <!--<mat-progress-spinner
            id="load-spinner"
            color="primary"
            mode="indeterminate"
            diameter="20">
        </mat-progress-spinner>-->
        <button pButton label="Save" icon="pi pi-save" class="ui-button-secondary" (click)="onSave()"></button>
        <button pButton label="Execute" icon="pi pi-cog" class="ui-button-secondary"></button>
        <button pButton label="Delete" icon="pi pi-trash" class="ui-button-secondary"></button>
    </div>
</div>
<div class="page-content">
    <label class="label label-top">Description </label> <br>
    <textarea pInputTextarea [(ngModel)]="script.description" placeholder="Description" name="description" class="script-description"></textarea><br>
    <label class="label label-top">Script text </label> <br>
    <ngx-monaco-editor class="sql-editor" [options]="editorOptions" [(ngModel)]="script.body" name="body"></ngx-monaco-editor>
</div>
