/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

body {
    margin: 0;
    min-width: 850px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

$page-left-padding: 30px;

.sql-editor {
    width: 95%;
    height: 700px;
}

.buttons-right {
    text-align: right;

    button {
        margin-right: 8px;
    }
}

.page-container {
    height: 100%;
    margin-left: 40px;
    margin-top: 15px;
}

#load-spinner {
    display: inline-block;
    margin-right: 15px;
}

.page-header {
    padding: 7px 20px 7px $page-left-padding;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.page-content {
    padding: 20px 20px 0 $page-left-padding;
}


.label {
    margin-right: 8px;
}

.label-top {
    display: block;
}
